<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<h1>Registration</h1>

<h3 style="color:green" th:if="${param.success}">Registration successful!</h3>

<form th:action="@{/users}" method="post">
    <fieldset>
        <legend>Please enter your info</legend>

        <label for="name">Name</label><br/>
        <input type="text" id="name" name="name" required><br/><br/>

        <label for="lastName">Last Name</label><br/>
        <input type="text" id="lastName" name="lastName" required><br/><br/>

        <button>Send</button>
    </fieldset>
</form>

</body>
</html>